# --- NetBeans (Cấu hình riêng của máy bạn) ---
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# --- Java (File đã biên dịch) ---
*.class
*.jar
*.war
*.ear

# --- OS (File rác hệ thống) ---
.DS_Store
Thumbs.db

# --- Logs (File nhật ký lỗi) ---
*.log
